In [16]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import re
from geopy.geocoders import Nominatim
import pickle

In [10]:
df = pd.read_csv('Top Indian Places to Visit.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        32 non-null     object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [6]:
df.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [7]:
# def extract_coordinates(text):
#     # First pattern: Standard decimal coordinates
#     standard_pattern = r"([-+]?\d*\.\d+|\d+\.?\d*),\s*([-+]?\d*\.\d+|\d+\.?\d*)"
#     # Second pattern: Coordinates with symbols and directions
#     directional_pattern = r"([-+]?\d*\.\d+|\d+\.?\d*)°?\s*([NSEW])?,\s*([-+]?\d*\.\d+|\d+\.?\d*)°?\s*([NSEW])?"

#     # Try matching the standard format
#     match = re.search(standard_pattern, text)
#     if match:
#         return float(match.group(1)), float(match.group(2))

#     # Try matching the directional format
#     match = re.search(directional_pattern, text)
#     if match:
#         lat = float(match.group(1)) * (-1 if match.group(2) in ['S', 'W'] else 1)
#         lon = float(match.group(3)) * (-1 if match.group(4) in ['S', 'W'] else 1)
#         return lat, lon

#     # If no match, return None
#     return None, None

In [8]:
def extract_coordinates(text):
    loc = Nominatim(user_agent="GetLoc")
    getLoc = loc.geocode(text)
    if getLoc is None:
        return None, None
    latitude = getLoc.latitude
    longitude = getLoc.longitude
    return latitude, longitude

In [9]:
latitudes = []
longitudes = []

In [20]:
for text in df.iloc[150:200]['Name']:
    latitude, longitude = extract_coordinates(text)
    if latitude and longitude != None:
        print(f"Latitude: {latitude}")
        latitudes.append(latitude)
        print(f"Longitude: {longitude}")
        longitudes.append(longitude)

    else:
        print("No coordinates found in the text.")
        latitudes.append(None)
        longitudes.append(None)

Latitude: 53.4617138
Longitude: -113.597735
Latitude: 32.3160963
Longitude: 77.1565572
Latitude: 32.2324387
Longitude: 76.32444468919702
No coordinates found in the text.
Latitude: 35.698234549999995
Longitude: 139.7650281388389
Latitude: 31.79683345
Longitude: 77.72392692104759
No coordinates found in the text.
Latitude: 31.353343799999998
Longitude: 78.35401031069776
Latitude: 32.08670455
Longitude: 76.2533449080113
Latitude: -32.6622727
Longitude: 152.155692
Latitude: 31.7544774
Longitude: 77.10164126305024
Latitude: 43.6312614
Longitude: 21.8782077
No coordinates found in the text.
Latitude: 32.0269237
Longitude: 77.3449068
Latitude: -5.0551
Longitude: 120.065
No coordinates found in the text.
Latitude: 31.5374898
Longitude: 77.41667932499999
Latitude: 31.094199449999998
Longitude: 77.27801970443878
Latitude: 29.3855849
Longitude: 79.46047976260145
Latitude: 30.1259181
Longitude: 78.328529
Latitude: 29.9566381
Longitude: 78.1708619
Latitude: 51.502988
Longitude: -2.6371754
No coordinates found in the text.
Latitude: 30.5487026
Longitude: 79.5737933
Latitude: 26.9913594
Longitude: 75.8521042
No coordinates found in the text.
No coordinates found in the text.
Latitude: 29.5574752
Longitude: 78.84249502753302
Latitude: 30.9944345
Longitude: 78.9411466
No coordinates found in the text.
Latitude: 30.7056798
Longitude: 79.5958552
Latitude: 27.1750075
Longitude: 78.04210126365584
Latitude: 25.31082185
Longitude: 83.01066789744189
Latitude: 26.868644850000003
Longitude: 80.91249604060158
No coordinates found in the text.
Latitude: 26.7956398
Longitude: 82.19457567353146
Latitude: 22.7180149
Longitude: 75.855234
Latitude: 8.0779577
Longitude: 77.55063025588254
Latitude: 25.4573176
Longitude: 78.5754799
No coordinates found in the text.
Latitude: 27.0943123
Longitude: 77.6627939
Latitude: 28.556986600000002
Longitude: 77.30900309623888
Latitude: 27.92989525
Longitude: 78.06373238569502
No coordinates found in the text.
No coordinates found in the text.
Latitude: 34.11367785
Longitude: 74.8699911038808
Latitude: 33.706991
Longitude: 78.82083629049578
No coordinates found in the text.
Latitude: 33.027399
Longitude: 74.945375
No coordinates found in the text.

In [ ]:
# value = df.at[51,'latitude']
# value

In [23]:
# Save data to a Pickle file
with open('coordinates.pkl', 'wb') as file:
    pickle.dump((latitudes, longitudes), file)

print("Data has been saved to 'coordinates.pkl'")

Data has been saved to 'coordinates.pkl'

In [24]:
# Load data from the Pickle file
with open('coordinates.pkl', 'rb') as file:
    latitudes, longitudes = pickle.load(file)
# Print the extracted data
print("Latitudes:", len(latitudes))
print("Longitudes:", len(longitudes))

Latitudes: 50
Longitudes: 50

In [ ]:
df['latitude'] = latitudes
df['longitude'] = longitudes

In [ ]:
df['country'] = ['Nepal'] * len(longitudes)
df['category'] = ['Hiking Trails'] * len(longitudes)

In [ ]:
filtered_df = df[['Name', 'Description', 'longitude', 'latitude','category', 'country']]
filtered_df.head()

,Name,Description,longitude,latitude,category,country
0,Maligaun hiking trail,"Maligaun Viewpoint, located at an elevation of...",85.443946,27.641183,Hiking Trails,Nepal
1,"A short hike to Doleshwor Mahadev temple, Bhak...",Doleshwor Mahadev temple hike is also a warmin...,85.438449,27.638809,Hiking Trails,Nepal
2,Ranikot hike: one breathtaking hike to the hil...,Ranikot: a blend of nature and adventure\nRani...,85.427528,27.624751,Hiking Trails,Nepal
3,Stepping out from Nagarkot to Changunarayan,Since Bhaktapur lies within the territory of t...,85.518265,27.716509,Hiking Trails,Nepal
4,Pilot Baba Hike: one hike to the southern hills,"On the very south of Bhaktapur city, in betwee...",85.422573,27.640425,Hiking Trails,Nepal

In [ ]:
filtered_df.columns = ['name','description', 'longitude', 'latitude', 'category','country'] 
filtered_df

,name,description,longitude,latitude,category,country
0,Maligaun hiking trail,"Maligaun Viewpoint, located at an elevation of...",85.443946,27.641183,Hiking Trails,Nepal
1,"A short hike to Doleshwor Mahadev temple, Bhak...",Doleshwor Mahadev temple hike is also a warmin...,85.438449,27.638809,Hiking Trails,Nepal
2,Ranikot hike: one breathtaking hike to the hil...,Ranikot: a blend of nature and adventure\nRani...,85.427528,27.624751,Hiking Trails,Nepal
3,Stepping out from Nagarkot to Changunarayan,Since Bhaktapur lies within the territory of t...,85.518265,27.716509,Hiking Trails,Nepal
4,Pilot Baba Hike: one hike to the southern hills,"On the very south of Bhaktapur city, in betwee...",85.422573,27.640425,Hiking Trails,Nepal

In [ ]:
print(filtered_df['longitude'].isnull().sum())
print(filtered_df['longitude'].isnull().sum())

0
0

In [ ]:
# Function to extract the first part of the string before the semicolon or colon
def extract_first_part(text):
    # Split by both semicolon and colon, and return the first part
    return text.split(';')[0].split(':')[0]

# Apply the function to the 'name' column and create a new column 'extracted_name'
filtered_df['name'] = filtered_df['name'].apply(extract_first_part)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4164\3071754169.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['name'] = filtered_df['name'].apply(extract_first_part)

In [ ]:
print(f"Number of unique countries: {filtered_df['country'].nunique()}")

Number of unique countries: 1

In [ ]:
# df= df.groupby('country')['name'].nunique()
# df

In [ ]:
asian_countries = [
    "Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan",
    "Brunei", "Cambodia", "China", "Cyprus", "Georgia", "India", "Indonesia",
    "Iran", "Iraq", "Israel", "Japan", "Jordan", "Kazakhstan", "Kuwait",
    "Kyrgyzstan", "Laos", "Lebanon", "Malaysia", "Maldives", "Mongolia",
    "Myanmar (Burma)", "Nepal", "North Korea", "Oman", "Pakistan", "Palestine",
    "Philippines", "Qatar", "Saudi Arabia", "Singapore", "South Korea",
    "Sri Lanka", "Syria", "Tajikistan", "Thailand", "Timor-Leste", "Turkey",
    "Turkmenistan", "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen"
]

In [ ]:
len(asian_countries)

48

In [ ]:
filtered_df = filtered_df[filtered_df['country'].isin(asian_countries)]
filtered_df.head()

,name,description,longitude,latitude,category,country
0,Maligaun hiking trail,"Maligaun Viewpoint, located at an elevation of...",85.443946,27.641183,Hiking Trails,Nepal
1,"A short hike to Doleshwor Mahadev temple, Bhak...",Doleshwor Mahadev temple hike is also a warmin...,85.438449,27.638809,Hiking Trails,Nepal
2,Ranikot hike,Ranikot: a blend of nature and adventure\nRani...,85.427528,27.624751,Hiking Trails,Nepal
3,Stepping out from Nagarkot to Changunarayan,Since Bhaktapur lies within the territory of t...,85.518265,27.716509,Hiking Trails,Nepal
4,Pilot Baba Hike,"On the very south of Bhaktapur city, in betwee...",85.422573,27.640425,Hiking Trails,Nepal

In [ ]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5 non-null      object
 1   description  5 non-null      object
 2   longitude    5 non-null      float64
 3   latitude     5 non-null      float64
 4   category     5 non-null      object
 5   country      5 non-null      object
dtypes: float64(2), object(4)
memory usage: 372.0+ bytes

In [ ]:
# grouped_df= filtered_df.groupby('country')['name'].nunique(
filtered_df.to_csv('cleaned/hiking_trails_cleaned.csv')