In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import re
from geopy.geocoders import Nominatim
import pickle
import os
import wikipedia

In [3]:
df = pd.read_csv('Nepal data.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            348 non-null    float64
 1   Unnamed: 1    0 non-null      float64
 2   Unnamed: 2    0 non-null      float64
 3   locationName  348 non-null    object
 4   address       348 non-null    object
 5   location      348 non-null    object
 6   description   331 non-null    object
 7   Each          347 non-null    object
 8   Category      348 non-null    object
 9   Unnamed: 9    0 non-null      float64
dtypes: float64(4), object(6)
memory usage: 27.4+ KB

In [5]:
df.head()

,id,Unnamed: 1,Unnamed: 2,locationName,address,location,description,Each,Category,Unnamed: 9
0,1.0,NaN,NaN,Betana Wetland,"Betana Wetland, Belbari, Nepal","[87.4320676736534, 26.6592761854919]","The Betana Wetland Area, also known as Betana ...",Betana Wetland Natural Landmark,Natural Landmark,NaN
1,2.0,NaN,NaN,wakupati narayan,"Jelan Galli, Bhaktapur, Nepal","[85.4370865412056, 27.6733863808043]",wakupati narayan temple suited at Bhaktapur su...,Wakupati Narayan Religious Site,Religious Site,NaN
2,3.0,NaN,NaN,kushma Bungee,"Shivalaya, Kushma, Nepal","[83.6746210791171, 28.2234020036306]",jump,Kushma Bungee Tourist Attraction,Tourist Attraction,NaN
3,4.0,NaN,NaN,Gadhimai Temple,"Bariyarpur, Bariyarpur, Mahagadhimai, Nepal","[85.0472847931087, 26.9934069368576]",Gadhimai temple is the temple of the goddess G...,Gadhimai Temple Religious Site,Religious Site,NaN
4,5.0,NaN,NaN,Thupten Monastery,"Sagarmatha, Nepal","[86.5492821112275, 27.6061600721939]",Thupten Choling Monastery is the well-known la...,Thupten Monastery Religious Site,Religious Site,NaN

In [32]:
# def extract_coordinates(text):
#     # First pattern: Standard decimal coordinates
#     standard_pattern = r"([-+]?\d*\.\d+|\d+\.?\d*),\s*([-+]?\d*\.\d+|\d+\.?\d*)"
#     # Second pattern: Coordinates with symbols and directions
#     directional_pattern = r"([-+]?\d*\.\d+|\d+\.?\d*)°?\s*([NSEW])?,\s*([-+]?\d*\.\d+|\d+\.?\d*)°?\s*([NSEW])?"

#     # Try matching the standard format
#     match = re.search(standard_pattern, text)
#     if match:
#         return float(match.group(1)), float(match.group(2))

#     # Try matching the directional format
#     match = re.search(directional_pattern, text)
#     if match:
#         lat = float(match.group(1)) * (-1 if match.group(2) in ['S', 'W'] else 1)
#         lon = float(match.group(3)) * (-1 if match.group(4) in ['S', 'W'] else 1)
#         return lat, lon

#     # If no match, return None
#     return None, None

In [ ]:
# def extract_coordinates(text):
#     loc = Nominatim(user_agent="GetLoc")
#     getLoc = loc.geocode(text)
#     if getLoc is None:
#         return None, None
#     latitude = getLoc.latitude
#     longitude = getLoc.longitude
#     return latitude, longitude

In [7]:
longitudes = []
latitudes = []

In [8]:
# Remove square brackets and split into two columns
df[['Longitude', 'Latitude']] = df['location'].str.strip('[]').str.split(',', expand=True)

# Convert columns to float for numerical operations
df['Longitude'] = df['Longitude'].astype(float)
df['Latitude'] = df['Latitude'].astype(float)

In [ ]:
# for text in df.iloc[200:325]['Name']:
#     latitude, longitude = extract_coordinates(text)
#     if latitude and longitude != None:
#         print(f"Latitude: {latitude}")
#         latitudes.append(latitude)
#         print(f"Longitude: {longitude}")
#         longitudes.append(longitude)

#     else:
#         print("No coordinates found in the text.")
#         latitudes.append(None)
#         longitudes.append(None)

Latitude: 34.215635
Longitude: 75.5038297
Latitude: 34.0565625
Longitude: 77.66673866189419
Latitude: 34.27885241508465
Longitude: 77.85108865583163
No coordinates found in the text.
No coordinates found in the text.
Latitude: 33.56737645
Longitude: 75.98018289870282
Latitude: 33.66391575
Longitude: 77.35041371147784
No coordinates found in the text.
Latitude: 19.7959051
Longitude: -155.335383
Latitude: 34.2786625
Longitude: 77.6046891
Latitude: 34.0565625
Longitude: 77.66673866189419
Latitude: 27.57208885
Longitude: 77.67203795263097
Latitude: 21.6413358
Longitude: 69.601032
Latitude: 23.2309668
Longitude: 82.1334207
Latitude: 27.650136699999997
Longitude: 77.37313377826086
Latitude: 26.99490135
Longitude: 88.28533056378379
Latitude: 26.68477385
Longitude: 89.30471768931005
No coordinates found in the text.
Latitude: 21.61792835
Longitude: 87.50711642476077
No coordinates found in the text.
No coordinates found in the text.
No coordinates found in the text.
Latitude: 26.7474882
Longitude: 88.81458592463328
No coordinates found in the text.
No coordinates found in the text.
Latitude: 23.31688845
Longitude: 85.28180377943092
Latitude: 29.6323214
Longitude: 79.61456305384945
Latitude: 20.238369
Longitude: 85.83371903751328
No coordinates found in the text.
Latitude: 20.48527625
Longitude: 85.86501293344713
Latitude: 21.549243099999998
Longitude: 83.90112859444788
Latitude: 19.68531945
Longitude: 85.25036993144289
Latitude: 19.4888247
Longitude: 84.8991907
No coordinates found in the text.
No coordinates found in the text.
No coordinates found in the text.
Latitude: 13.053275150000001
Longitude: 80.28328873013857
Latitude: 9.9195433
Longitude: 78.1188334260622
Latitude: 9.2880968
Longitude: 79.3173756426647
Latitude: 8.0783202
Longitude: 77.5549562
Latitude: 11.40341705
Longitude: 76.69167888165407
No coordinates found in the text.
Latitude: 10.234003000000001
Longitude: 77.48652291657108
Latitude: 10.78257995
Longitude: 79.13138188923924
No coordinates found in the text.
Latitude: 11.7832744
Longitude: 78.21046871339286
Latitude: 8.7284759
Longitude: 77.68895103182844
Latitude: 12.81972
Longitude: 79.70944
Latitude: 16.5153429
Longitude: 80.6058743
No coordinates found in the text.
Latitude: 17.39608405
Longitude: 78.5244837245757
No coordinates found in the text.
Latitude: 13.8031581
Longitude: 77.6097474
Latitude: 15.102175
Longitude: 78.1116692
Latitude: 9.6255941
Longitude: 77.1644806
Latitude: 16.30690105
Longitude: 80.51362085375354
Latitude: 14.8133184
Longitude: 78.2874575
Latitude: 14.16586875
Longitude: 77.80776249890566
Latitude: 17.766316699999997
Longitude: 83.25052449743701
Latitude: 13.3903362
Longitude: 78.0256818
Latitude: 2.2109244500000003
Longitude: 102.19729381393157
Latitude: 18.2939056
Longitude: 83.0597306
Latitude: 53.9599168
Longitude: -1.0895447
Latitude: 17.7672009
Longitude: 83.3485108306389
Latitude: 17.7128522
Longitude: 83.31990582899448
Latitude: 17.72082665
Longitude: 83.33382069350534
Latitude: 27.3868289
Longitude: 88.8308961
Latitude: 27.30536295
Longitude: 88.25145084208097
Latitude: 27.6227125
Longitude: 85.31799053635206
Latitude: 27.28875815
Longitude: 88.56142002291666
Latitude: 17.912316
Longitude: 102.76500938671434
Latitude: 27.36587555
Longitude: 88.83788926315745
Latitude: 27.374530749999998
Longitude: 88.76197985870488
Latitude: 26.165107
Longitude: 91.7059298
Latitude: 26.65810465
Longitude: 93.39274406257059
Latitude: 26.19648555
Longitude: 91.74499488423024
No coordinates found in the text.
Latitude: 27.012901499999998
Longitude: 94.27468538142726
Latitude: 26.7227946
Longitude: 90.97788799238984
Latitude: 26.2429185
Longitude: 91.52653500420408
Latitude: 26.259400550000002
Longitude: 91.98476799961671
Latitude: 27.586609099999997
Longitude: 91.8573902
Latitude: 23.83698675
Longitude: 91.28275067020547
Latitude: 23.47363145
Longitude: 91.83818815074817
No coordinates found in the text.
No coordinates found in the text.
Latitude: 25.55167505434516
Longitude: 94.12167855797173
Latitude: 11.9321674
Longitude: 79.8360554
Latitude: 12.0073927
Longitude: 79.8099471
Latitude: -38.192086
Longitude: 147.42110203084178
Latitude: 11.67444565
Longitude: 92.74778558292749
Latitude: 11.9826676
Longitude: 92.95707831459254
Latitude: 11.8379008
Longitude: 93.02964449635024
Latitude: -17.7627609
Longitude: 178.4061134
Latitude: 20.7109607
Longitude: 70.980783
Latitude: 20.4073978
Longitude: 72.8324448
No coordinates found in the text.
Latitude: 23.378112864504732
Longitude: 85.31197227496848
Latitude: 24.69593025
Longitude: 84.99139027981707
No coordinates found in the text.
No coordinates found in the text.
No coordinates found in the text.
Latitude: 28.46812985
Longitude: 77.06912641367134
Latitude: 28.5412453
Longitude: 77.15510822535421
No coordinates found in the text.
Latitude: 28.6280479
Longitude: 77.2093211
Latitude: 30.7345609
Longitude: 79.0673204
Latitude: 28.5674442
Longitude: 77.32112402627533
Latitude: 28.4526337
Longitude: 77.5262656
Latitude: 10.0267542
Longitude: 76.39177723537276
Latitude: 20.397733549999998
Longitude: 85.81386331046137
Latitude: 13.010962750000001
Longitude: 77.55522393851444
Latitude: 17.43455455
Longitude: 78.38669818623289
Latitude: 28.6506822
Longitude: 77.23296096363757
Latitude: 9.2880968
Longitude: 79.3173756426647
Latitude: 28.3492531
Longitude: 77.53700501165349
Latitude: 26.8087716
Longitude: 81.01279288413409
Latitude: 10.02721845
Longitude: 76.30788730187876
Latitude: 28.584726769893308
Longitude: 77.1811827202923
Latitude: 25.2130828
Longitude: 91.676736
Latitude: 28.61251665
Longitude: 77.27731839825316
Latitude: 27.1798258
Longitude: 78.02082227320588
Latitude: 24.85725455
Longitude: 79.92448692274795
Latitude: 26.926209649999997
Longitude: 75.82383458642204
Latitude: 26.91169265
Longitude: 75.81950236387307

In [ ]:
len(latitudes)

0

In [103]:
# Function to get description from Wikipedia with error handling
def get_description(place_name):
    try:
        # Attempt to get the exact page summary
        summary = wikipedia.summary(place_name, sentences=3)
        return summary
    except wikipedia.exceptions.DisambiguationError as e:
        # Handle disambiguation: Return first option from the suggestions
        return "error"
    except wikipedia.exceptions.HTTPTimeoutError:
        return "error"
    except wikipedia.exceptions.PageError:
        # Suggest a better title or handle page not found
        try:
            # Try with auto-suggest for a more accurate match
            suggestions = wikipedia.search(place_name)
            if suggestions:
                return wikipedia.summary(suggestions[0], sentences=3)
            else:
                return "error"
        except Exception as ex:
            return "error"

In [104]:
descriptions = []

In [105]:
for name in df['Name']:
    description = get_description(name)
    if description != None and description != "error":
        descriptions.append(description)
    else:
        descriptions.append(None)

c:\Users\Lenovo\Desktop\Tourist Attraction Recommendation System\venv\Lib\site-packages\wikipedia\wikipedia.py:389: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 389 of the file c:\Users\Lenovo\Desktop\Tourist Attraction Recommendation System\venv\Lib\site-packages\wikipedia\wikipedia.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  lis = BeautifulSoup(html).find_all('li')

In [106]:
df['Description'] = descriptions

In [40]:
# Define the Pickle file path
pickle_file = 'coordinates.pkl'

# Check if the Pickle file exists
if os.path.exists(pickle_file):
    # If file exists, load existing data and append the new data
    with open(pickle_file, 'rb') as file:
        existing_latitudes, existing_longitudes = pickle.load(file)
    
    # Append new data to the existing lists
    existing_latitudes.extend(latitudes)
    existing_longitudes.extend(longitudes)
    
    # Save the updated lists back to the Pickle file
    with open(pickle_file, 'wb') as file:
        pickle.dump((existing_latitudes, existing_longitudes), file)
else:
    # If file does not exist, create it and save the new data
    with open(pickle_file, 'wb') as file:
        pickle.dump((latitudes, longitudes), file)

print("Data has been appended to 'coordinates.pkl'")

Data has been appended to 'coordinates.pkl'

In [41]:
# Load data from the Pickle file
with open('coordinates.pkl', 'rb') as file:
    latitudes, longitudes = pickle.load(file)
# Print the extracted data
print("Latitudes:", len(latitudes))
print("Longitudes:", len(longitudes))

Latitudes: 325
Longitudes: 325

In [42]:
df['latitude'] = latitudes
df['longitude'] = longitudes

In [44]:
def generate_description(row):
    entrance_fee = "free" if row['Entrance Fee in INR'] == 0 else f"₹{row['Entrance Fee in INR']}"
    dslr_info = "DSLR cameras are allowed" if row['DSLR Allowed'] == "Yes" else "DSLR cameras are not allowed"
    
    description = (
        f"{row['Name']} is a renowned {row['Type']} located in the {row['Zone']} zone of {row['State']}, {row['City']}. "
        f"Established in {row['Establishment Year']}, it holds {row['Significance']} significance. "
        f"It is rated {row['Google review rating']} stars on Google, with approximately {row['Number of google review in lakhs']} lakh reviews. "
        f"Visitors typically spend around {row['time needed to visit in hrs']} hours exploring this site. "
        f"The entrance fee is {entrance_fee}, and {dslr_info}. "
        f"The best time to visit is during the {row['Best Time to visit']}."
    )
    return description

In [45]:
# Generate descriptions and add them to the DataFrame
df["Description"] = df.apply(generate_description, axis=1)

# Display the descriptions
print(df["Description"])

0      India Gate is a renowned War Memorial located ...
1      Humayun's Tomb is a renowned Tomb located in t...
2      Akshardham Temple is a renowned Temple located...
3      Waste to Wonder Park is a renowned Theme Park ...
4      Jantar Mantar is a renowned Observatory locate...
                             ...
320    Akshardham is a renowned Temple located in the...
321    Agra Fort is a renowned Fort located in the Ce...
322    Madhya Pradesh Tribal Museum is a renowned Mus...
323    City Palace is a renowned Palace located in th...
324    Albert Hall Museum is a renowned Museum locate...
Name: Description, Length: 325, dtype: object

In [14]:
df['country'] = ['Nepal'] * 349
# df['category'] = ['Hiking Trails'] * len(longitudes)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            348 non-null    float64
 1   Unnamed: 1    0 non-null      float64
 2   Unnamed: 2    0 non-null      float64
 3   locationName  348 non-null    object
 4   address       348 non-null    object
 5   location      348 non-null    object
 6   description   331 non-null    object
 7   Each          347 non-null    object
 8   Category      348 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Longitude     348 non-null    float64
 11  Latitude      348 non-null    float64
 12  country       349 non-null    object
dtypes: float64(6), object(7)
memory usage: 35.6+ KB

In [15]:
filtered_df = df[['locationName', 'description', 'Longitude', 'Latitude','Category', 'country']]
filtered_df.head()

,locationName,description,Longitude,Latitude,Category,country
0,Betana Wetland,"The Betana Wetland Area, also known as Betana ...",87.432068,26.659276,Natural Landmark,Nepal
1,wakupati narayan,wakupati narayan temple suited at Bhaktapur su...,85.437087,27.673386,Religious Site,Nepal
2,kushma Bungee,jump,83.674621,28.223402,Tourist Attraction,Nepal
3,Gadhimai Temple,Gadhimai temple is the temple of the goddess G...,85.047285,26.993407,Religious Site,Nepal
4,Thupten Monastery,Thupten Choling Monastery is the well-known la...,86.549282,27.606160,Religious Site,Nepal

In [16]:
filtered_df.columns = ['name','description', 'longitude', 'latitude', 'category','country'] 
filtered_df

,name,description,longitude,latitude,category,country
0,Betana Wetland,"The Betana Wetland Area, also known as Betana ...",87.432068,26.659276,Natural Landmark,Nepal
1,wakupati narayan,wakupati narayan temple suited at Bhaktapur su...,85.437087,27.673386,Religious Site,Nepal
2,kushma Bungee,jump,83.674621,28.223402,Tourist Attraction,Nepal
3,Gadhimai Temple,Gadhimai temple is the temple of the goddess G...,85.047285,26.993407,Religious Site,Nepal
4,Thupten Monastery,Thupten Choling Monastery is the well-known la...,86.549282,27.606160,Religious Site,Nepal
...,...,...,...,...,...,...
344,IchhaKamana Mandir,"The Ichchhakamana Temple, located in the north...",84.624813,27.871427,Religious Site,Nepal
345,Shree Satya Narayan Mandir,"Shree Satya Narayan Mandir, located in Biratna...",87.281623,26.461582,Religious Site,Nepal
346,Taleju Bhawani Temple,"The magnificent Taleju temple, located in Durb...",85.308046,27.704915,Religious Site,Nepal
347,Jalbire Jharna,"Jalbire, a picturesque village nestled in the ...",84.527304,27.824569,Natural Landmark,Nepal
348,NaN,NaN,NaN,NaN,NaN,Nepal

In [17]:
print(filtered_df['longitude'].isnull().sum())
print(filtered_df['longitude'].isnull().sum())

1
1

In [ ]:
# Function to extract the first part of the string before the semicolon or colon
def extract_first_part(text):
    # Split by both semicolon and colon, and return the first part
    return text.split(';')[0].split(':')[0]

# Apply the function to the 'name' column and create a new column 'extracted_name'
filtered_df['name'] = filtered_df['name'].apply(extract_first_part)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4164\3071754169.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['name'] = filtered_df['name'].apply(extract_first_part)

In [53]:
print(f"Number of unique countries: {filtered_df['country'].nunique()}")

Number of unique countries: 1

In [19]:
filtered_df = filtered_df.dropna(subset=['latitude','longitude','description'])
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331 entries, 0 to 347
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         331 non-null    object
 1   description  331 non-null    object
 2   longitude    331 non-null    float64
 3   latitude     331 non-null    float64
 4   category     331 non-null    object
 5   country      331 non-null    object
dtypes: float64(2), object(4)
memory usage: 18.1+ KB

In [ ]:
# df= df.groupby('country')['name'].nunique()
# df

In [ ]:
asian_countries = [
    "Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan",
    "Brunei", "Cambodia", "China", "Cyprus", "Georgia", "India", "Indonesia",
    "Iran", "Iraq", "Israel", "Japan", "Jordan", "Kazakhstan", "Kuwait",
    "Kyrgyzstan", "Laos", "Lebanon", "Malaysia", "Maldives", "Mongolia",
    "Myanmar (Burma)", "Nepal", "North Korea", "Oman", "Pakistan", "Palestine",
    "Philippines", "Qatar", "Saudi Arabia", "Singapore", "South Korea",
    "Sri Lanka", "Syria", "Tajikistan", "Thailand", "Timor-Leste", "Turkey",
    "Turkmenistan", "United Arab Emirates", "Uzbekistan", "Vietnam", "Yemen"
]

In [ ]:
len(asian_countries)

48

In [ ]:
filtered_df = filtered_df[filtered_df['country'].isin(asian_countries)]
filtered_df.head()

,name,description,longitude,latitude,category,country
0,Maligaun hiking trail,"Maligaun Viewpoint, located at an elevation of...",85.443946,27.641183,Hiking Trails,Nepal
1,"A short hike to Doleshwor Mahadev temple, Bhak...",Doleshwor Mahadev temple hike is also a warmin...,85.438449,27.638809,Hiking Trails,Nepal
2,Ranikot hike,Ranikot: a blend of nature and adventure\nRani...,85.427528,27.624751,Hiking Trails,Nepal
3,Stepping out from Nagarkot to Changunarayan,Since Bhaktapur lies within the territory of t...,85.518265,27.716509,Hiking Trails,Nepal
4,Pilot Baba Hike,"On the very south of Bhaktapur city, in betwee...",85.422573,27.640425,Hiking Trails,Nepal

In [20]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 331 entries, 0 to 347
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         331 non-null    object
 1   description  331 non-null    object
 2   longitude    331 non-null    float64
 3   latitude     331 non-null    float64
 4   category     331 non-null    object
 5   country      331 non-null    object
dtypes: float64(2), object(4)
memory usage: 18.1+ KB

In [21]:
# grouped_df= filtered_df.groupby('country')['name'].nunique(
filtered_df.to_csv('cleaned/nepal_data_cleaned.csv')